################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DynamicApplication/.vs/DynamicApplication
/DynamicApplication/DynamicApplication/obj
/DynamicApplication/.vs/ProjectEvaluation
/DynamicApplication/DynamicApplication/bin/Debug/net8.0
